/*Cover*/
.black-filter {
  background-color: #00000056;
  width: 100vw;
  height: 100vh;
}

.cover-invitation-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;

  object-position: 50px 9px;
  filter: grayscale(0%);
}

.cover-invitation-title {
  position: absolute;
  text-align: center;
  top: 39%;
  font-size: 5vw;
  color: aliceblue;
}

/*Save the date section*/
.save-the-date-container {
  padding: 50px;
}

.save-the-date-title {
  font-size: 2.7vw;
}

.save-the-date-title,
.invitation-phrase {
  text-align: center;
}

.event-date-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.hr-event-date {
  width: 41%;
  height: 0.5px;
  background-color: #025373;
  margin: 12px 15px 0;
}

.invitation-phrase {
  font-size: 1.4vw;
}

/* .save-the-date-container {
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  } */

/*Itinerary section*/
.itinerary-image {
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.itinerary-container-bronze {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 85vw;
  margin: 0px auto 0px;
  bottom: 130px;
  justify-content: center;
}

.activity-title,
.dresscode-card-title {
  font-size: 2.5vw;
  margin-bottom: 50px;
}

.dresscode-image {
  width: 165px;
}

.itinerary-activity-card,
.dresscode-card {
  height: 350px;
  width: 320px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 30px;
  font-size: 1.2vw;
  text-align: center;
}

.activity-title,
.dresscode-card-title {
  text-align: center;
}

/*maps container*/
/* .maps-container {
   /* position: relative;
  bottom: 100px;
 right: 10px; 
} */

/*Maps*/
.tab-map {
  width: 100vw;
  height: 350px;
}

.css-19kzrtu {
  padding: 0px !important;
}
.MuiTabs-scroller{
  overflow: auto !important;
}
.css-jpln7h-MuiTabs-scroller{
  overflow: auto !important;
}

/*Form*/

.invitation-form-bronze-container {
  display: flex;
  width: 80vw;
  margin: 50px 15vw !important;
}

.form-invitation {
  width: 70%;
  padding: 80px;

}

.form-image {
  width: 35%;
  height: 480px;
  object-fit: cover;
}

.btn-form-bronze {
  margin: 15px 38%;
  padding: 5px 45px;
  color: aliceblue;
  border-radius: 15px;
  border: 1px solid #d9cccc;
}

.bronze-form-group {
  min-width: 180px;
}

/****************************  Media Query Params (bronze template)  *****************************/
@media screen and (max-width: 1200px) {
  .save-the-date-title {
    font-size: 55px;
  }

  .event-date {
    margin: 0 2%;
    font-size: 30px;
  }

  .invitation-phrase {
    margin-top: 20px;
    font-size: 25px;
  }

  .hr-event-date {
    max-width: 150px;
    min-width: 80px;
    margin-top: 20px;
  }

  .activity-title,
  .dresscode-card-title {
    font-size: 45px;
  }

  .itinerary-activity-card,
  .dresscode-card {
    height: 330px;
    width: 320px;
    padding: 14px;
    font-size: 19px;
  }
}

@media screen and (max-width: 850px) {
  .save-the-date-title {
    font-size: 52px;
  }

  .hr-event-date {
    min-width: 15px;
    max-width: 120px;
    margin: 22px 15px 0;
  }

  .invitation-phrase {
    margin-top: 25px;
  }

  .form-image {
    display: none;
  }

  .form-invitation {
    width: 100%;
    padding: 18px;
    background-color: #0001024d;
    color: #ffffff;
  }

  .invitation-form-bronze-container {
    width: 95vw;
    margin: 0px 0px 0px 16px;
  }

  .btn-form-bronze {
    margin: 15px 40%;
  }
}

@media screen and (max-width: 600px) {
  .save-the-date-title {
    font-size: 35px;
  }

  .hr-event-date {
    max-width: 80px;
    min-width: 25px;
    margin-top: 12px;
  }

  .invitation-phrase {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .cover-invitation-title {
    left: 0%;
  }

  .save-the-date-container {
    padding: 5px;
    margin-top: 25px;
  }

  .save-the-date-title {
    font-size: 30px;
  }

  .hr-event-date {
    display: none;
  }

  .event-date {
    font-size: 22px;
    /* margin: 0 0 0 26%; */
  }

  .activity-title,
  .dresscode-card-title {
    font-size: 40px;
  }

  .itinerary-activity-card,
  .dresscode-card {
    font-size: 16px;
  }

  .tab-map {
    width: 86vw;
  }

  .invitation-form-bronze-container {
    width: 90vw;


    margin: 60px 5vw !important;

  }

  .btn-form-bronze {
    margin: 15px 25%;
  }
}

@media screen and (max-width: 350px) {
  .event-date {
    font-size: 18px;
    margin: 0 20%;
  }

  .invitation-phrase {
    font-size: 12px;
  }
}

/********************************** Gold invitations css **********************************/

.traditional-countdown {

  position: absolute;
  top: 410px;
  font-size: 25px;
  color: aliceblue;
  left: 34%;
}

.traditional-countdown {
  display: flex;
  justify-content: center;
  gap: 25px;
  text-align: center;
}

.gallery-section {
  padding: 50px 0;
}

.gallery-title,
.gallery-phrase {
  text-align: center;
}

.gallery-title {
  font-size: 50px;
}

.gallery-phrase {

  padding-top: 18px;
  font-size: 22px;
}

.photo-album-container {
  width: 80vw;
  padding: 50px 0;
  margin: 0 auto;
}

.recomendations-section {
  text-align: center;
  margin: 80px 0;
}

.recomendation-title {
  font-size: 50px;
  margin-bottom: 18px;
}


.recomendation-description {
  font-size: 19px;
}

.recomendation-cards-container {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
}

.recomendation-card {
  width: 320px;
}

.recomendation-card-body>img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 7px;
  margin: 25px 0;
}

.card-table-gift>img {
  height: 70px;
  margin-bottom: 45px;
}

.gift-tables-section {
  margin: 90px 0 110px;
  text-align: center;
}

.gift-tables-container {

  width: 80%;
  margin: 25px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 75px;
}

.card-table {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: 150px;
}

.gift-tables-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
  padding: 0 14%;
}

.gift-table-subtitle {
  margin: 20px 0 60px;
  font-size: 22px;
}

.btn-gift-table {
  padding: 15px;
  border-radius: 15px;
  color: black;
  margin-left: 15px;
}

.btn-gift-table-amazon {
  background: #CAC531;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #F3F9A7, #CAC531);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F3F9A7, #CAC531);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-gift-table-liverpool {
  background: #f4c4f3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc67fa, #f4c4f3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/*List confirmation page*/

.list-table-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-guest-container {
  width: 95vw;
  margin: 0px auto;
}

.list-table-title {
  text-align: center;
  padding: 50px 0;
}

.btn-print-list {
  font-size: 15px !important;
  margin-left: 90%;
  margin-bottom: 50px;
}

.th-title {
  text-align: center;
  font-size: 15px;
  font-weight: bolder !important;
}

/****************************  Media Query Params (gold template)  *****************************/
@media screen and (max-width: 1450px) {


  .traditional-countdown {
    margin-top: 25px;
    left: 32%;
    font-size: 35px;
  }
}

@media screen and (max-width: 1200px) {
  .traditional-countdown {
    margin-top: 40px;
    left: 24%;
    font-size: 35px;
  }

  .save-the-date-title {
    font-size: 55px;
  }

  .event-date {
    margin: 0 2%;
    font-size: 30px;
  }

  .invitation-phrase {
    margin-top: 20px;
    font-size: 25px;
  }

  .hr-event-date {
    max-width: 150px;
    min-width: 80px;
    margin-top: 20px;
  }

  .activity-title,
  .dresscode-card-title {
    font-size: 45px;
  }

  .itinerary-activity-card,
  .dresscode-card {
    height: 330px;
    width: 320px;
    padding: 14px;
    font-size: 19px;
  }
}

@media screen and (max-width: 850px) {


  .traditional-countdown {
    margin-top: 25px;
    top: 50%;
    left: 14%;
    font-size: 35px;
  }

  .save-the-date-title {
    font-size: 52px;
  }

  .hr-event-date {
    min-width: 15px;
    max-width: 120px;
    margin: 22px 15px 0;
  }

  .invitation-phrase {
    margin-top: 25px;
  }

  .form-image {
    display: none;
  }

  .form-invitation {
    width: 100%;
    padding: 18px;
    background-color: #0001024d;
    color: #ffffff;
  }

  .invitation-form-bronze-container {
    width: 95vw;
    margin: 0px 0px 0px 16px;
  }

  .btn-form-bronze {
    margin: 15px 40%;
  }

  .form-label {
    color: aliceblue !important;
  }
}

@media screen and (max-width: 600px) {
  .save-the-date-title {
    font-size: 35px;
  }

  .hr-event-date {
    max-width: 80px;
    min-width: 25px;
    margin-top: 12px;
  }

  .invitation-phrase {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  .cover-invitation-title {
    font-size: 55px;
  }

  .traditional-countdown {
    top: 450px;
    left: 5%;
    font-size: 4.4vw;
  }

  .save-the-date-container {
    padding: 5px;
    margin-top: 25px;
  }

  .save-the-date-title {
    font-size: 30px;
  }

  .hr-event-date {
    display: none;
  }

  .event-date {
    font-size: 22px;
    /* margin: 0 0 0 26%; */
  }

  .activity-title,
  .dresscode-card-title {
    font-size: 40px;
  }

  .itinerary-activity-card,
  .dresscode-card {
    font-size: 16px;
  }

  .tab-map {
    width: 100vw;
  }

  .invitation-form-bronze-container {
    width: 90vw;
  }

  .recomendation-title {
    padding: 0px;
    font-size: 42px;
    margin: 40px 2%;
  }

  .gift-tables-title {
    font-size: 22px;
    padding: 0 4%;
  }

  .btn-form-bronze {
    margin: 15px 25%;
  }


}

@media screen and (max-width: 350px) {

  .recomendation-title {
    padding: 0px;
    font-size: 3px;
    margin: 0px 2%;
  }

  .recomendation-description {
    padding: 15px 15px;
  }

  .invitation-phrase {
    font-size: 12px;
  }

  .traditional-countdown {
    margin-top: 20px;
    left: 2%;
    font-size: 15px;
  }

  .event-date {
    font-size: 18px;
    margin: 0 20%;
  }

  .recomendation-card-body>img {
    padding: 0 15px;
  }

  .invitation-phrase {
    font-size: 12px;
  }
}